extends ./layout/index

block contenido
    main.container.mt-5
        .row 
            col-md-5 
                img(src="img/nosotros.jpg", alt="imagen de la Torre Eiffel", class="img-fluid")
            col-md-7 
                
                blockquote  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus imperdiet nunc ut sapien volutpat, id pulvinar nisl pretium. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Phasellus vitae ante ac augue tristique ultrices a nec velit. Sed ac aliquam ante. Duis aliquam ipsum sodales, ultricies neque hendrerit, euismod tortor. Cras semper nisl mi, in efficitur dolor porta at. Nunc luctus at justo et aliquet. Sed eget vehicula nisi. Donec eleifend sit amet ante quis faucibus. Aenean vitae orci ligula. Nam quam est, rutrum nec quam in, ultricies varius est. Nulla congue varius arcu, quis vestibulum quam placerat eget. Etiam pharetra sem a est commodo commodo. Sed sit amet nulla eu nisl malesuada dictum. Fusce ut mi ac eros tristique lobortis. In nec faucibus mauris.

                p Aenean tempor feugiat justo, sed consectetur odio efficitur et. Cras congue, mauris ut facilisis varius, lectus ligula condimentum metus, a porta ante justo vitae nibh. Curabitur egestas cursus sodales. Nullam rutrum ex quis ex bibendum malesuada. Morbi ut congue justo. Fusce et lorem ullamcorper, ultrices risus vitae, efficitur nunc. Nunc odio leo, laoreet et vestibulum et, fermentum a nisi. Fusce maximus sagittis libero a dictum. Mauris in mi id magna tempor lobortis. Donec at dolor diam. Phasellus id magna sollicitudin, viverra lacus in, pretium nisl. Integer fermentum, turpis eget tincidunt tempor, metus nulla tincidunt ipsum, placerat sagittis ex nisl ac nisl. Maecenas a elit gravida, lacinia felis ac, bibendum augue. Nullam at tellus a tortor eleifend fringilla. Phasellus in fringilla quam, nec egestas diam. Integer euismod mauris sit amet libero tincidunt, quis cursus tortor lobortis.

                p Suspendisse lacinia arcu in metus laoreet tincidunt. Integer tempus nisi dictum felis venenatis bibendum. Integer ultricies accumsan odio et aliquam. Proin dignissim elit urna, eget porta ex suscipit sed. Nullam sed elementum lacus. Nam ornare lorem eu suscipit semper. Pellentesque faucibus purus in nisi fermentum mattis. Nulla tempus ipsum eu ex tempus, id ullamcorper enim commodo. 
                
    .listado-iconos 
        .container.mt-5.py-5.text-center
            .row 
                .col-md-4
                    img(src="/img/icono_seguridad.svg", alt="ícono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Integer tempus nisi dictum felis venenatis bibendum. Integer ultricies accumsan odio et aliquam. Proin dignissim elit urna, eget porta ex suscipit sed.

                    img(src="/img/icono_destinos.svg", alt="ícono destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos  
                    p Integer tempus nisi dictum felis venenatis bibendum. Integer ultricies accumsan odio et aliquam. Proin dignissim elit urna, eget porta ex suscipit sed.

                    img(src="/img/icono_precios.svg", alt="ícono precios", class="img-fluid mb-4")
                    h2.mb-4 Los mejores Precios 
                    p Integer tempus nisi dictum felis venenatis bibendum. Integer ultricies accumsan odio et aliquam. Proin dignissim elit urna, eget porta ex suscipit sed.
    